@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap");
/* 
// <weight>: Use a value from 200 to 900
// <uniquifier>: Use a unique and descriptive class name

.source-serif-4-<uniquifier> {
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

*/
body {
  margin: 0;
  font-family: "Source Serif 4", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 0.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  margin-top: 3.5rem;
  margin-bottom: 1.5rem;
}

ul,
ol {
  padding-inline-start: 2rem;
}

header {
  text-align: center;
}

main {
  width: 625px;
  margin-inline: auto;
  color: #333333;
}

footer {
  width: 625px;
  padding: 0.9rem 0;
  margin-inline: auto;
}

a {
  color: #107777;
}

.logo {
  width: 180px;
  padding: 0.8rem 0;
}

.subtitle {
  background-color: #fdfbf1;
  border-top: 1px solid #ffd877;
}

.subtitle h5 {
  font-weight: 500;
  font-size: 0.7rem;
  color: #004d4c;
  padding: 0.8rem 0;
}

.description {
  margin-bottom: 0.8rem;
}

.recipe-video video {
  width: 100%;
  border-radius: 8px;
  /* text-shadow: 4px 4px 8px #dce0e3; */
  box-shadow: 4px 4px 8px #dce0e3;
}

.image-author {
  text-align: center;
  margin-top: 0.8rem;
  color: #999999;
}

.featured {
  font-weight: 600;
  margin-top: 1.5rem;
  border-left: 1px solid #ffd877;
  padding-left: 1rem;
}

.featured h3 {
  text-transform: uppercase;
  color: #b5460f;
  font-weight: 600;
}

.featured a {
  text-transform: capitalize;
}

.recipe {
  margin-top: 3rem;
}
.recipe h2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #c4f3f2;
  font-weight: 600;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.list {
  margin-top: 1.2rem;
  padding-inline-start: 0rem;
  line-height: 1.9rem;
}

.method {
  margin-top: 1rem;
}

.list p {
  line-height: normal;
}
